{% extends 'layout.html' %}

{% block title %}{% parent %} > Blog{% endblock %}

{% block head %}
    {% parent %}  
{% endblock %}
 
{% block header %}
    {% parent %}
{% endblock %}

{% block nav %}'blog'{% endblock %}

{% block content %}
	<div class="jumbotron">
        <h1 style="text-align: left">> <span>Main Post</span></h1>
        <div class="text-right"><a class="btn btn-lg btn-success" href="#" role="button">Read More</a></div>
    </div>
    <div class="row marketing">
    	<div class="col-lg-12">
    		<p class="lead">Snippet of content from the main blog post. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
          	<h3>Blog #4</h3>
          	<p>Donec id elit non mi porta gravida at eget metus. Maecenas 	faucibus mollis interdum.</p>
	
          	<h3>Blog #2</h3>
          	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 	Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
        <div class="col-lg-6">
          	<h3>Blog #3</h3>
          	<p>Donec id elit non mi porta gravida at eget metus. Maecenas 	faucibus mollis interdum.</p>
	
          	<h3>Blog #1</h3>
          	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 	Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
    </div>    
{% endblock %}

{% block footer %}
  {% parent %}  
{% endblock %}

{% block footer_scripts %}
  {% parent %}  
{% endblock %}