<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
		<title>{% block title %}$whois flinn{% endblock %}</title>

		{% block head %}
			<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
			<link href="css/bootstrap.min.css" rel="stylesheet">
			<link href="css/layout.css" rel="stylesheet">
			<link href="css/terminalify.css" rel="stylesheet">
			<link href="css/icons.css" rel="stylesheet">
			<link href="css/blog.css" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		<div id="wrap">
			<div class="container">
			{% block header %}
				<div class="header">
					<div>
						<ul class="nav nav-pills pull-right">
							<li class="nav-item-about"><a href="/about">About</a></li>
							<li class="nav-item-blog"><a href="/blog">Blog</a></li>
							<li class="nav-item-contact"><a href="/contact">Contact</a></li>
						</ul>
						<h1 style="text-align: left"><img class="banner-img" src="img/logo_clear.PNG" />&nbsp;$&nbsp;<span>whois flinn</span>.com</h1>
					</div>
				</div>
			{% endblock %}
			
			{% block content %}{% endblock %}			
						
    		{% block footer_scripts %}
    			<script src="js/jquery.min.js"></script>
				<script src="js/bootstrap.min.js"></script>
    			<script src="js/angular.min.js" type="text/javascript"></script>    			
    		{% endblock %}
    		<script type="text/javascript">
				$(document).ready(function() {
					$('.nav-item-' + {% block nav %}'about'{% endblock %}).first().addClass('active');
				});
			</script>
			</div>
		</div>
		{% block footer %}
		<div id="footer" class="footer text-center">
			<div class="container"> 
				<div class="area">
					<div class="copyright">Copyright © 2014</div>
					<div>Matthew Claiborne Flinn</div>
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>