h1 {
    margin-bottom: 30px !important;
}

h1 .teal {
    color: #57D1EA !important;
}

h2 {
	color: #57D1EA !important;
}

h3 {
	color: #57D1EA !important;
}

.banner-img {
	margin-top: -10px;
	height: 60px;
	width: 60px;
}

h5 > b {
	color: #DD681B !important;
}

.teal {
    color: #57D1EA !important;
}

h4 {
    color: #DD681B !important;
}

h5 {
	color: White !important;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 25px;
}

.header h3 {
	color: #57D1EA;
}

.footer {	
    color: #5D6364 !important;
}

/*.footer .area {
	display: inline-block;
	padding: 15px 15px 15px 15px;
	max-width: 300px;
	border-radius:5px;
	color: White;
	background-color: #222222;
}*/

div .copyright {
	font-weight: bolder;
	color: #5D6364;
}

.img-responsive {
    display: inline-block !important;
    padding-top: 25px !important;
}

.nav > li {
	font-weight: bold;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #6D43C3;
	font-weight: bold;
}

.nav > li > a:hover, .nav > li > a:focus {
	font-weight: bold;
	background-color: White !important; 
	color: #6D43C3 !important;
}

a {
	color: #9C65FA;
	font-weight: bolder;
}

a:hover, a:focus { 
	color: #6D43C3;
}

body { 
	/*background:#d2dfe6;*/
	color: #444;
	font-family: "Droid Sans",Helvetica,Arial,sans-serif;
	line-height: 1.5em;
}

#body p .input {
    color: White !important;
}

.message-input {
	min-height: 350px !important;	
}

.message-input div {
	text-align: left;
	padding-top: 12px;
	padding-bottom: 12px;
}

textarea.form-control {
	height: 100px !important;
}

.btn-more {
	background-color: #DD681B;
	margin-top: 15px;
	margin-right: 20px;
	display: inline-block !important;
	color: White;
}

.btn-more:hover {
	background-color: #9C65FA !important;
	text-align: right;
}

h1 > span.twitter:hover {
	color: #0e76a8 !important;
}

h1 > span.linkedin:hover {
	color: #4099FF !important;
}

h1 > span.facebook:hover {
	color: #3B5998 !important;
}

h1 > span.github:hover {
	color: #EA3737 !important;
}*/

div .jumbotron .connect {
	padding-bottom: 15px;
}

.connect div {
}

.connect h1 {
	font-size: 60px;
}

.connect p {
	margin-top: -20px;
	font-size: 24px;
	padding-bottom: 0px;
}

.jumbotron h2 {
	color: #91E022 !important;
}

.input-label {
	color: #5D6364;
}